* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
}

.theme-dark {
  --page-bg: rgb(18, 18, 18);
  --modal-shadow: none;
  --read-book: rgb(61, 113, 255);
  --unread-book: rgb(124, 157, 248);
}

.theme-light {
  --page-bg: rgb(240, 240, 240);
  --modal-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
  --read-book: rgb(25, 0, 255);
  --unread-book: rgb(74, 65, 158);
}

body {
  background-color: var(--page-bg);
}

h1 {
  padding: 45px 0 15px;
  text-align: center;
  background-color: rgb(192, 192, 39);
}

#theme-dropdown {
  position: absolute;
  min-width: 100px;
  height: 2rem;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 0.85rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.scroll-btn {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100vw;
  top: 0;
  padding-bottom: 10px;
  font-size: 1rem;
  background-color: rgb(110, 177, 231);
}

.scroll-btn .material-icons {
  font-size: 5rem;
}

.modal-container {
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.add-modal {
  z-index: 3;
  position: absolute;
  width: 80%;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--modal-shadow);
  background-color: rgb(0, 201, 60);
}

.modal-header {
  margin-top: 30px;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
}

.close-btn .material-icons {
  font-size: 24px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.close-btn:hover .material-icons {
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px;
  padding: 0 20px;
}

form input {
  width: 100%;
  height: 2rem;
  margin: 5px 0 20px;
  padding: 0 10px;
  font-size: 1rem;
}

form select {
  width: 9rem;
  height: 2rem;
  margin-top: 5px;
  font-size: 0.9rem;
}

.add-btn {
  margin: auto;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
}

select {
  padding-left: 5px;
}

.main-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: rgb(110, 177, 231);
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  font-size: 1rem;
}

.info-container div:nth-of-type(3) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.new-btn,
.reset-btn,
.add-btn {
  width: 50%;
  max-width: 190px;
  height: 3rem;
  margin: 30px auto 0;
  font-size: 1.25rem;
  background-color: rgb(194, 193, 193);
}

.btn:hover {
  cursor: pointer;
}

.new-btn:hover:active,
.reset-btn:hover:active,
.add-btn:hover:active {
  transform: scale(0.95);
}

.options-toggle {
  margin: 40px auto 0;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
}

.options-toggle .material-icons {
  font-size: 2rem;
  vertical-align: middle;
}

.options-container {
  display: none;
  flex-direction: column;
  width: 95%;
  margin: 20px auto 0;
  padding: 10px 0;
  border-top: 1px solid black;
}

#search {
  width: 95%;
  max-width: 400px;
  height: 2rem;
  margin-top: 5px;
  padding: 0 10px;
  border: 1px solid black;
  font-size: 1rem;
}

#search-type {
  width: 5rem;
  height: 2rem;
  margin-top: 10px;
  font-size: 1rem;
}

.options-container p {
  margin-top: 5px;
  font-size: 0.85rem;
}

#status-filter {
  max-width: 10rem;
  height: 2rem;
  margin: 30px 0 50px;
  font-size: 1rem;
}

#sort-dropdown {
  max-width: 15rem;
  height: 2rem;
  margin-top: 5px;
  font-size: 1rem;
}

.library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.book {
  position: relative;
  width: 90vw;
  max-width: 300px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  border: 4px solid red;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(255, 255, 0);
}

.book-title {
  width: 100%;
  max-height: 140px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.book-author {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  overflow: hidden;
}

.book-footer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  bottom: -4px;
  left: 0;
  padding: 0 10px;
}

.book-pages {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
}

.book-bottom .material-icons {
  font-size: 32px;
}

.book-bottom .material-icons:hover {
  cursor: pointer;
}

.edit-book,
.delete-book {
  background-color: transparent;
}

.edit-book:hover:active,
.delete-book:hover:active {
  transform: scale(0.9);
}

.book-status {
  min-width: 50%;
  height: 2.5rem;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  border-bottom: 4px solid red;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  background-color: pink;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: thistle;
}

.footer > p {
  margin-right: 30px;
  color: var(--main-font);
  font-size: 0.8rem;
  text-align: right;
  line-height: 1.5;
}

.profile-icon,
a {
  display: block;
  width: 75px;
  transition: transform 0.1s;
}

.profile-icon:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 650px) {
  h1 {
    padding: 30px 0 30px 30px;
    text-align: left;
    background-color: rgb(179, 179, 2);
  }

  .scroll-btn {
    width: 300px;
  }

  .add-modal {
    width: 400px;
  }

  .main-container {
    display: flex;
  }

  .main-bar {
    display: block;
    width: 320px;
    min-height: 100vh;
    padding: 20px 10px;
  }

  .info-container {
    width: 300px;
  }

  .new-btn,
  .reset-btn {
    width: 190px;
  }

  .options-toggle {
    display: none;
  }

  .options-container {
    width: 300px;
    margin-top: 25px;
    border-top: none;
  }

  #search {
    width: 100%;
    max-width: 300px;
  }

  #status-filter {
    width: 10rem;
    max-width: 300px;
  }

  #sort-dropdown {
    width: 15rem;
    max-width: 300px;
  }

  .library-container {
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
  }
}
