* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
}

.theme-dark {
  --text-main: rgb(241, 241, 241);
  --text-secondary: rgba(220, 220, 220, 0.8);
  --text-invert: rgb(34, 34, 34);
  --header-bg: rgb(0, 50, 5);
  --bookshelf-bg: rgb(18, 18, 18);
  --modal-bg: rgb(22, 37, 22);
  --book-main: rgb(0, 50, 5);
  --border-main: rgb(80, 80, 80);
  --border-secondary: rgb(75, 75, 75);
  --border-invalid: rgb(255, 0, 0);
  --book-status: rgb(29, 139, 55);
  --button-main: rgb(0, 161, 38);
  --button-main-hover: rgba(0, 161, 38, 0.8);
  --input-bg: rgb(75, 75, 75);
}

.theme-light {
  --text-main: rgb(18, 18, 18);
  --text-secondary: rgba(50, 50, 50, 0.9);
  --text-invert: rgb(240, 240, 240);
  --header-bg: rgb(69, 233, 85);
  --bookshelf-bg: rgb(240, 240, 240);
  --modal-bg: rgb(220, 250, 220);
  --book-main: rgb(190, 255, 177);
  --border-main: rgb(0, 0, 0);
  --border-secondary: rgba(59, 59, 59, 0.6);
  --border-invalid: rgb(223, 0, 0);
  --book-status: rgb(22, 126, 56);
  --button-main: rgb(26, 134, 62);
  --button-main-hover: rgba(26, 134, 62, 0.8);
  --input-bg: rgb(240, 240, 240);
}

body {
  background-color: var(--bookshelf-bg);
}

h1 {
  padding: 15px 15px 15px;
  color: var(--text-main);
  background-color: var(--header-bg);
  font-weight: bolder;
}

#theme-dropdown {
  position: absolute;
  min-width: 100px;
  height: 2rem;
  top: 0;
  right: 0;
  padding: 0 10px;
  font-size: 0.85rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.scroll-btn {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 5px;
  border-bottom: 1px solid var(--border-main);
  background-color: var(--header-bg);
}

.scroll-icon {
  font-size: 3rem;
  color: var(--button-main);
}

.scroll-icon:hover {
  animation: animateBtn 1s linear infinite alternate;
}

@keyframes animateBtn {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.modal-container {
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.add-modal {
  z-index: 3;
  position: absolute;
  width: 80%;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  background-color: var(--modal-bg);
}

.modal-header {
  margin-top: 30px;
  text-align: center;
}

.modal-description {
  color: var(--text-main);
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
}

.close-btn .material-icons {
  font-size: 24px;
  opacity: 0.75;
  color: var(--text-main);
  transition: opacity 0.2s;
}

.close-btn:hover .material-icons {
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px;
  padding: 0 20px;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  height: 2rem;
  margin: 5px 0 20px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--text-main);
  border: 1px solid var(--border-secondary);
}

form input[type="checkbox"] {
  align-self: flex-start;
  margin-right: 10px;
  transform: scale(1.25);
  vertical-align: middle;
}

.add-btn {
  margin: auto;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-main);
}

select {
  padding-left: 5px;
}

.main-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: var(--text-main);
  background-color: var(--bookshelf-bg);
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  font-size: 1rem;
}

.info-container div:nth-of-type(3) {
  border-top: 1px solid var(--border-secondary);
  border-bottom: 1px solid var(--border-secondary);
  padding: 10px 0;
}

.new-btn,
.reset-btn,
.add-btn {
  width: 50%;
  max-width: 190px;
  height: 3rem;
  margin: 15px auto 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-invert);
  background-color: var(--button-main);
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn:hover,
form input[type="checkbox"]:hover {
  cursor: pointer;
}

.new-btn:hover,
.reset-btn:hover,
.add-btn:hover {
  background-color: var(--button-main-hover);
}

.new-btn:hover:active,
.reset-btn:hover:active,
.add-btn:hover:active,
.book-status:active {
  transform: scale(0.97);
  border: 1px inset var(--border-secondary);
  box-shadow: none;
}

.options-toggle {
  margin: 40px auto 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-secondary);
  background-color: transparent;
  text-transform: uppercase;
}

.options-toggle .material-icons {
  font-size: 2rem;
  vertical-align: middle;
}

.options-container {
  display: none;
  flex-direction: column;
  width: 95%;
  margin: 30px auto 0;
  padding: 10px 0;
  border-top: 1px solid var(--border-secondary);
  border-bottom: 1px solid var(--border-secondary);
}

#search {
  width: 100%;
  max-width: 400px;
  height: 2rem;
  padding: 0 10px;
  color: var(--text-main);
  background-color: var(--input-bg);
  border: 1px solid var(--border-main);
  font-size: 1rem;
}

#search-type {
  width: 5rem;
  height: 2rem;
  margin-top: 10px;
  font-size: 1rem;
}

.options-container p {
  margin-top: 5px;
  font-size: 0.85rem;
  font-style: italic;
  color: var(--text-secondary);
}

.options-container:last-of-type p {
  margin-top: 10px;
}

#status-filter {
  max-width: 10rem;
  height: 2rem;
  margin: 30px 0 50px;
  font-size: 1rem;
}

#sort-dropdown {
  max-width: 15rem;
  height: 2rem;
  margin-top: 5px;
  font-size: 1rem;
}

.bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.book {
  position: relative;
  width: 95vw;
  max-width: 350px;
  height: 210px;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--book-main);
  box-shadow: 0 0 4px var(--border-main);
}

.book-title {
  width: 100%;
  max-height: 140px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: var(--text-main);
}

.book-author {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  overflow: hidden;
  color: var(--text-secondary);
}

.book-footer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  bottom: 10px;
  left: 0;
  padding: 0 10px;
}

.book-pages {
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: center;
  color: var(--text-secondary);
}

.edit-book,
.delete-book {
  background-color: transparent;
}

.edit-book:hover:active,
.delete-book:hover:active {
  transform: scale(0.9);
}

.delete-icon,
.edit-icon {
  font-size: 28px;
  color: var(--button-main);
  transition: color 0.3s;
}

.delete-icon:hover,
.edit-icon:hover {
  cursor: pointer;
  color: var(--button-main-hover);
}

.book-status {
  min-width: 50%;
  height: 2rem;
  padding: 0 10px;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-invert);
  background-color: var(--book-status);
  border-radius: 15px;
  border-start-start-radius: 15px;
  box-shadow: 0 0 2px 1px var(--border-main);
}

.invalid {
  outline: 1px solid var(--border-invalid);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  background-color: var(--header-bg);
}

.footer > p {
  margin-right: 30px;
  color: var(--text-main);
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
}

.profile-icon,
a {
  display: block;
  width: 75px;
  transition: transform 0.1s;
}

.profile-icon:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 650px) {
  .scroll-btn {
    width: 320px;
    border-bottom: none;
  }

  .scroll-btn .material-icons {
    font-size: 5rem;
  }

  .add-modal {
    width: 400px;
  }

  .main-container {
    display: flex;
  }

  .main-bar {
    display: block;
    width: 320px;
    min-height: 100vh;
    padding: 10px 10px;
  }

  .info-container {
    width: 300px;
  }

  .new-btn,
  .reset-btn {
    width: 190px;
  }

  .options-toggle {
    display: none;
  }

  .options-container {
    width: 300px;
    margin-top: 20px;
    border-top: none;
    border-bottom: none;
  }

  #search {
    width: 1000%;
    max-width: 300px;
  }

  #status-filter {
    width: 10rem;
    max-width: 300px;
  }

  #sort-dropdown {
    width: 15rem;
    max-width: 300px;
  }

  .bookshelf {
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
  }

  .book {
    max-width: 300px;
  }
}
